# Copyright The OpenTelemetry Authors
# SPDX-License-Identifier: Apache-2.0

common --noenable_workspace
common --remote_download_minimal

# Avoid using c:\windows\system32\bash.exe
common:windows --shell_executable="c:\\program files\\git\\usr\\bin\\bash.exe"

common --noexperimental_merged_skyframe_analysis_execution

common --nolegacy_external_runfiles
common --skip_incompatible_explicit_targets
common --enable_platform_specific_config
common --enable_runfiles

build --build_tag_filters=-jaeger,-opentracing,-opentracing_shim
test --test_tag_filters=-jaeger,-opentracing,-opentracing_shim

# The github do/ci_do.sh needs `bazel-bin` folder, enabling it just for this case.
build:windows --experimental_convenience_symlinks=clean
build --experimental_cc_implementation_deps

build:windows      --copt="/Brepro"      --copt="/guard:cf"      --copt="/guard:ehcont"      --copt="/Z7"      --copt="/JMC-"      --copt="/sdl" 
build:windows --host_copt="/Brepro" --host_copt="/guard:cf" --host_copt="/guard:ehcont" --host_copt="/Z7" --host_copt="/JMC-" --host_copt="/sdl" 
build:windows      --linkopt="/Brepro"      --linkopt="/guard:cf"      --linkopt="/guard:ehcont" --linkopt="/DEBUG:FULL" --linkopt="/CETCOMPAT" --linkopt="/SWAPRUN:NET,CD" --linkopt="/OPT:REF,ICF" --linkopt="/RELEASE" --linkopt="/DEBUGTYPE:CV,PDATA,FIXUP" 
build:windows --host_linkopt="/Brepro" --host_linkopt="/guard:cf" --host_linkopt="/guard:ehcont" --host_linkopt="shell32.lib" 
# Requires Visual Studio 2019 Build Tools installed in default location with the latest compiler (14.29.30133) for x64
build:windows      --action_env=BAZEL_VC_FULL_VERSION=14.29.30133      --action_env=BAZEL_WINSDK_FULL_VERSION=10.0.22621.0
build:windows --host_action_env=BAZEL_VC_FULL_VERSION=14.29.30133 --host_action_env=BAZEL_WINSDK_FULL_VERSION=10.0.22621.0

# Set minimum supported C++ version
build:macos --host_cxxopt=-std=c++17 --cxxopt=-std=c++17
build:linux --host_cxxopt=-std=c++17 --cxxopt=-std=c++17
build:windows --host_cxxopt=/std:c++17 --cxxopt=/std:c++17

# --config=asan : Address Sanitizer.
common:asan --copt -DADDRESS_SANITIZER
common:asan --copt -fsanitize=address,bool,float-cast-overflow,integer-divide-by-zero,null,return,returns-nonnull-attribute,shift-exponent,signed-integer-overflow,unreachable,vla-bound
common:asan --copt -fsanitize-address-use-after-scope
common:asan --copt -fno-sanitize-recover=all
common:asan --linkopt -fsanitize=address,bool,float-cast-overflow,integer-divide-by-zero,null,return,returns-nonnull-attribute,shift-exponent,signed-integer-overflow,unreachable,vla-bound
common:asan --linkopt -fsanitize-address-use-after-scope
common:asan --linkopt -fno-sanitize-recover=all
common:asan --cc_output_directory_tag=asan

# --config=tsan : Thread Sanitizer.
common:tsan --copt -fsanitize=thread
common:tsan --copt -DTHREAD_SANITIZER
common:tsan --linkopt -fsanitize=thread
common:tsan --cc_output_directory_tag=tsan
# This is needed to address false positive problem with abseil.The same setting as gRPC
# https://github.com/google/sanitizers/issues/953
common:tsan --test_env=TSAN_OPTIONS=report_atomic_races=0

## This is what my ../top.bazelrc contains (not in the repo as local to my machine)
# build --disk_cache=f:/b/d
# common --repository_cache=f:/b/r
# startup --output_user_root=f:/b/u
try-import %workspace%/../top.bazelrc

test --test_size_filters=small,medium,large,enormous
test --test_timeout_filters=short,moderate,long,eternal
test --test_verbose_timeout_warnings
test --test_summary=terse

mod --charset=ascii

# This doesn't work with 
# ../com_github_opentelemetry_proto/opentelemetry/proto/collector/metrics/v1/metrics_service.proto: File does not reside within any path specified using --proto_path (or -I).  You must specify a --proto_path which encompasses this file.  Note that the proto_path must be a
# common --experimental_sibling_repository_layout

common --nobuild_runfile_links
startup --windows_enable_symlinks

# Ideally all of these should get uncommented for further bazel migrations
# This list was taken from here https://github.com/bazelbuild/bazel/releases/tag/7.0.0
common --incompatible_auto_exec_groups
common --incompatible_disable_non_executable_java_binary
# common --incompatible_disallow_struct_provider_syntax
common --incompatible_disable_target_provider_fields
common --incompatible_struct_has_no_methods
# common --incompatible_stop_exporting_language_modules
# common --incompatible_disallow_empty_glob
# common --incompatible_disable_starlark_host_transitions
common --incompatible_config_setting_private_default_visibility

build --nolegacy_important_outputs

build --@curl//:use_mbedtls=true 
# build --@curl//:http_only=true

mod --lockfile_mode=update

# Select clang-cl to be the default compiler on Windows
build:windows --config=clang-cl

# See MODULE.bazel where we've disabled the platform/toolchain setup, but made it back here
build:clang-cl --host_platform=//:x64_windows-clang-cl
build:clang-cl --extra_toolchains=@local_config_cc//:cc-toolchain-x64_windows-clang-cl
build:clang-cl --per_file_copt="external/protobuf~/.*@-Wno-invalid-offsetof"
build:clang-cl --host_per_file_copt="external/protobuf~/.*@-Wno-invalid-offsetof"
build:clang-cl --per_file_copt="external/c-ares~/.*@-Wno-macro-redefined"
build:clang-cl --host_per_file_copt="external/c-ares~/.*@-Wno-macro-redefined"

build --incompatible_strict_action_env
