# Copyright The OpenTelemetry Authors
# SPDX-License-Identifier: Apache-2.0

common --enable_platform_specific_config

# Needed for aspect-dev's write_source_file to actually write the file back on Windows (where runfiles are disabled by default)
build --enable_runfiles
test --enable_runfiles

build --build_tag_filters=-jaeger,-opentracing,-opentracing_shim
test --test_tag_filters=-jaeger,-opentracing,-opentracing_shim

build --experimental_convenience_symlinks=clean
build --experimental_cc_implementation_deps
build --incompatible_use_platforms_repo_for_constraints=false

# build --disk_cache=f:/b/d
# common --repository_cache=f:/b/r
# startup --output_user_root=f:/b/u

# Needed by gRPC to build on some platforms.

build:windows --strip=never --cxxopt="-std:c++17" --host_cxxopt="-std:c++17"
build:windows --action_env=BAZEL_VC_FULL_VERSION=14.29.30133
build:windows --action_env=BAZEL_VC="C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\BuildTools\\VC"
build:windows --action_env=_CL_="/Z7 /guard:cf /Brepro /JMC-"
build:windows --action_env=_LINK_="/guard:cf /CETCOMPAT /DEBUG:FULL /FUNCTIONPADMIN /SWAPRUN:NET,CD /Brepro /DEBUGTYPE:CV,PDATA,FIXUP"
build:windows --host_action_env=BAZEL_VC_FULL_VERSION=14.29.30133
build:windows --host_action_env=BAZEL_VC="C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\BuildTools\\VC"
build:windows --host_action_env=_CL_="/Z7 /guard:cf /Brepro /JMC-"
build:windows --host_action_env=_LINK_="/guard:cf /CETCOMPAT /DEBUG:FULL /FUNCTIONPADMIN /SWAPRUN:NET,CD /Brepro /DEBUGTYPE:CV,PDATA,FIXUP"

# --config=asan : Address Sanitizer.
common:asan --copt -DADDRESS_SANITIZER
common:asan --copt -fsanitize=address,bool,float-cast-overflow,integer-divide-by-zero,null,return,returns-nonnull-attribute,shift-exponent,signed-integer-overflow,unreachable,vla-bound
common:asan --copt -fsanitize-address-use-after-scope
common:asan --copt -fno-sanitize-recover=all
common:asan --linkopt -fsanitize=address,bool,float-cast-overflow,integer-divide-by-zero,null,return,returns-nonnull-attribute,shift-exponent,signed-integer-overflow,unreachable,vla-bound
common:asan --linkopt -fsanitize-address-use-after-scope
common:asan --linkopt -fno-sanitize-recover=all
common:asan --cc_output_directory_tag=asan

# --config=tsan : Thread Sanitizer.
common:tsan --copt -fsanitize=thread
common:tsan --copt -DTHREAD_SANITIZER
common:tsan --linkopt -fsanitize=thread
common:tsan --cc_output_directory_tag=tsan
# This is needed to address false positive problem with abseil.The same setting as gRPC
# https://github.com/google/sanitizers/issues/953
common:tsan --test_env=TSAN_OPTIONS=report_atomic_races=0

try-import %workspace%/../top.bazelrc
