[submodule "tools/vcpkg"]
	path = tools/vcpkg
	url = https://github.com/Microsoft/vcpkg
	branch = master

[submodule "third_party/ms-gsl"]
	path = "third_party/ms-gsl"
	url = https://github.com/microsoft/GSL
	branch = master
