version: 2.1

orbs:
  win: circleci/windows@1.0.0

jobs:
  cmake_test:
    resource_class: xlarge
    docker:
      - image: ubuntu:18.04
    steps:
      - checkout
      - run: ./ci/setup_ci_environment.sh
      - run: ./ci/setup_cmake.sh
      - run: ./ci/install_protobuf.sh
      - run: ./ci/install_libevent.sh
      - run: ./ci/do_ci.sh cmake.test
      - run: ./ci/do_ci.sh cmake.exporter.otprotocol.test
      - store_artifacts:
          path: ~/build/Testing/Temporary/LastTest.log
          destination: Test.log

  plugin_test:
    resource_class: xlarge
    docker:
      - image: ubuntu:18.04
    steps:
      - checkout
      - run: ./ci/setup_ci_environment.sh
      - run: ./ci/setup_cmake.sh
      - run: ./ci/do_ci.sh cmake.test_example_plugin
      - store_artifacts:
          path: ~/build/Testing/Temporary/LastTest.log
          destination: Test.log
      - store_artifacts:
          path: ~/plugin/libexample_plugin.so
          destination: libexample_plugin_so

  gcc_48_test:
    resource_class: xlarge
    docker:
      - image: ubuntu:18.04
    steps:
      - checkout
      - run: ./ci/setup_ci_environment.sh
      - run: ./ci/install_bazelisk.sh
      - run: ./ci/install_gcc48.sh
      - run: CC=/usr/bin/gcc-4.8 ./ci/do_ci.sh bazel.legacy.test

  bazel_test:
    resource_class: xlarge
    docker:
      - image: ubuntu:18.04
    steps:
      - checkout
      - run: ./ci/setup_ci_environment.sh
      - run: ./ci/install_bazelisk.sh
      - run: ./ci/do_ci.sh bazel.test

  bazel_noexcept:
    resource_class: xlarge
    docker:
      - image: ubuntu:18.04
    steps:
      - checkout
      - run: ./ci/setup_ci_environment.sh
      - run: ./ci/install_bazelisk.sh
      - run: ./ci/do_ci.sh bazel.noexcept

  bazel_asan:
    resource_class: xlarge
    docker:
      - image: ubuntu:18.04
    steps:
      - checkout
      - run: ./ci/setup_ci_environment.sh
      - run: ./ci/install_bazelisk.sh
      - run: ./ci/do_ci.sh bazel.asan

  bazel_tsan:
    resource_class: xlarge
    docker:
      - image: ubuntu:18.04
    steps:
      - checkout
      - run: ./ci/setup_ci_environment.sh
      - run: ./ci/install_bazelisk.sh
      - run: ./ci/do_ci.sh bazel.tsan

  benchmark:
    resource_class: xlarge
    docker:
      - image: ubuntu:18.04
    steps:
      - checkout
      - run: ./ci/setup_ci_environment.sh
      - run: ./ci/install_bazelisk.sh
      - run: env BENCHMARK_DIR=/benchmark ./ci/do_ci.sh benchmark
      - store_artifacts:
          path: /benchmark
          destination: benchmark

  format:
    resource_class: xlarge
    docker:
      - image: ubuntu:18.04
    steps:
      - checkout
      - run: ./ci/setup_ci_environment.sh
      - run: ./ci/install_format_tools.sh
      - run: ./ci/do_ci.sh format

  osx_test:
    macos:
      xcode: "11.0.0"
    steps:
      - checkout
      - run: ./ci/install_osx_bazelisk.sh
      - run: ./ci/do_ci.sh bazel.test

  windows:
    executor: win/vs2019
    steps:
      - checkout
      - run: ./ci/setup_windows_cmake.ps1
      - run: ./ci/setup_windows_ci_environment.ps1
      - run:
          command: ./ci/install_windows_protobuf.ps1
          no_output_timeout: 15m
      - run: ./ci/install_windows_libevent.ps1
      - run: ./ci/do_ci.ps1 cmake.test
      - run: ./ci/do_ci.sh cmake.exporter.otprotocol.test

  windows_bazel:
    executor: win/vs2019
    steps:
      - checkout
      - run: ./ci/install_windows_bazelisk.ps1
      - run: ./ci/do_ci.ps1 bazel.build

  windows_plugin_test:
    executor: win/vs2019
    steps:
      - checkout
      - run: ./ci/setup_windows_cmake.ps1
      - run: ./ci/setup_windows_ci_environment.ps1
      - run: ./ci/do_ci.ps1 cmake.test_example_plugin

workflows:
  version: 2
  build_and_test:
    jobs:
      - cmake_test
      - plugin_test
      - gcc_48_test
      - bazel_test
      - bazel_noexcept
      - bazel_asan
      - bazel_tsan
      - format
      - benchmark
      - osx_test
      - windows
      - windows_bazel
      - windows_plugin_test
