import %workspace%/../.bazelrc
build --@otel_sdk//:with_dll=true
try-import %workspace%/../../top.bazelrc
test --test_output=streamed

common --run_under='"C:/Program Files/Microsoft Visual Studio/2022/Enterprise/Common7/IDE/devenv.exe"'