import %workspace%/../.bazelrc
build --@otel_sdk//:with_dll=true
try-import %workspace%/../../top.bazelrc
test --test_output=streamed

common:devenv --run_under='"c:/windows/system32/cmd.exe" /c start /wait devenv /debugexe '
test:devenv --run_under='"c:/windows/system32/cmd.exe" /c start /wait devenv /debugexe '
