name: OpenTelemetry-cpp benchmarks
on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  benchmark:
    name: Run OpenTelemetry-cpp benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: 'recursive'
      - name: Mount Bazel Cache
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        env:
          cache-name: bazel_cache
        with:
          path: /home/runner/.cache/bazel
          key: bazel_benchmark
      - name: setup
        run: |
          sudo ./ci/setup_ci_environment.sh
          sudo ./ci/install_bazelisk.sh
      - name: Run benchmark
        id: run_benchmarks
        run: |
          ./ci/do_ci.sh bazel.benchmark
          mkdir -p benchmarks
          mv api-benchmark_result.json benchmarks
          mv sdk-benchmark_result.json benchmarks
          mv exporters-benchmark_result.json benchmarks
      - uses: actions/upload-artifact@6027e3dd177782cd8ab9af838c04fd81a07f1d47 # main March 2025
        with:
          name: benchmark_results
          path: benchmarks
  store_benchmark:
    needs: benchmark
    permissions:
      contents: write
      deployments: write
    strategy:
      matrix:
        components: ["api", "sdk", "exporters"]
    name: Store benchmark result
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # main March 2025
        with:
          name: benchmark_results
          path: benchmarks
      - name: Print json files
        id: print_json
        run: |
          cat benchmarks/*
      - name: Push benchmark result
        uses: benchmark-action/github-action-benchmark@d48d326b4ca9ba73ca0cd0d59f108f9e02a381c7 # v1.20.4
        with:
          name: OpenTelemetry-cpp ${{ matrix.components }} Benchmark
          tool: 'googlecpp'
          output-file-path: benchmarks/${{ matrix.components }}-benchmark_result.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: false
          gh-pages-branch: gh-pages
          benchmark-data-dir-path: benchmarks
