name: "Mark and close stale issues"
on:
  schedule:
    - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v7
        with:
          stale-issue-message: "This issue was marked as stale due to lack of activity."
          days-before-issue-stale: 60
          exempt-issue-labels: "do-not-stale"
